
:root {
    --Tomato: hsl(4, 100%, 67%);
    --color-gradient3: #FF6A3D;
    --color-gradient1: #ff5476;

    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsla(231, 7%, 60%, 0.7);
    --White: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--Charcoal-Grey);
    font-weight: 400;
    color: var(--Dark-Slate-Grey);
}

/* MAIN CARD */

main {
    display: flex;
    justify-content: space-between;
    width: 935px;
    height: 645px;
    background-color: var(--White);
    padding: 1.5rem;
    border-radius: 35px;
}

#left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.7rem;
}

#left-card {
    padding: 0 1rem 0.5rem 0;
}

#info-container {
    margin-bottom: 2rem;
}

h1 {
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 1.2rem;
}

#info-container p {
    margin-bottom: 1.6rem;
    line-height: 1.5rem;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0;
}

.icon-list {
    padding-top: 0.2rem;
}

li i {
    margin-right: 1rem;
}

#input-container {
    display: flex;
    flex-direction: column;
}

#flex-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 0.75rem;
    margin: 0.5rem 0;
}

#invalid-msg {
    color: var(--Tomato);
}

.same-size {
    width: 100%;
    border-radius: 10px;
}

input {
    margin-bottom: 1.5rem;
    border: 1px solid var(--Grey);
    padding: 1.2rem;
    font-size: 1rem;
    cursor: pointer;
}

input:focus,
input:active {
    outline: solid 1px var(--Dark-Slate-Grey);
}

input::placeholder {
    color: var(--Grey);
}

button {
    background-color: var(--Dark-Slate-Grey);
    border: none;
    color: var(--White);
    font-size: 0.9rem;
    font-weight: 700;
    padding: 1.25rem;
}

button:hover,
button:active {
    background: linear-gradient(to right, var(--color-gradient1)20%, var(--Tomato), var(--color-gradient3));
    cursor: pointer;
    box-shadow: 0 15px 25px 5px hsla(4, 100%, 67%, 0.4);
}

#img-section {
    width: 52.5%;
    background-image: url('../assets/images/illustration-sign-up-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

#mobile-hero-section {
    display: none;
}

/* SUCCESS CARD */

#success-card {
    background-color: var(--White);
    padding: 4rem;
    width: 505px;
    padding-top: 3rem;
    border-radius: 35px;
}

#success-card img {
    margin-bottom: 2.5rem;
}

#success-card h1 {
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
}

#success-card p {
    margin-bottom: 2.5rem;
    line-height: 1.5rem;
}

.bold {
    font-weight: 700;
}

.shadow {
    box-shadow: 0 5px 25px 15px hsla(0, 0%, 0%, 0.2);
}

.hidden {
    display: none;
}

@media (width < 1385px) {

    /* MAIN CARD */
    main {
        width: 835px;
        height: 545px;
    }

    h1 {
        font-size: 2.5rem;
    }

    button {
        font-size: 0.8rem;
    }
}

@media (width < 1285px) {

    /* MAIN CARD */
    main {
        width: 735px;
        height: 445px;
    }

    #left-section {
        padding: 1rem;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    #info-container p {
        margin-bottom: 1rem;
        line-height: 1rem;
        font-size: 0.8rem;
    }

    ul {
        font-size: 0.8rem;
    }

    ul li i img {
        width: 1.3rem;
        aspect-ratio: 1/1;
    }

    #img-section {
        width: 45%;
        background-size: contain;
    }

    input {
        margin-bottom: 1rem;
        padding: 1rem;
        font-size: 0.8rem;
    }

    button {
        padding: 1rem;
    }
    
}

@media (width < 1080px) {
    
    /* MAIN CARD */
    main {
        width: 680px;
    }

    #info-container p {
        margin-bottom: 1rem;
        line-height: 1rem;
        font-size: 0.65rem;
    }

    ul {
        font-size: 0.65rem;
    }

    ul li i img {
        width: 1rem;
        aspect-ratio: 1/1;
    }

    li {
        margin-bottom: 0.3rem;
    }

    input {
        font-size: 0.65rem;
    }

    button {
        font-size: 0.65rem;
    }
}

@media (width < 680px) {

    /* MAIN CARD */

    body {
        display: block;
        padding: 0;
        margin: 0;
        min-height: 100vh;
        width: 100%;
        box-sizing: border-box;
        background-color: var(--White);
    }

    main {
        border-radius: 0;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
        width: 100%;
        min-height: 100vh;
    }

    #left-section {
        display: block;
        padding: 2rem 1.5rem;
        margin: 0;
    }

    #left-card {
        padding: 0;
    }

    #img-section {
        display: none;
    }

    #mobile-hero-section {
        display: block;
    }

    #mobile-hero-section img {
        width: 100%;
    }

    h1 {
        font-weight: 700;
        font-size: 2.5rem;
        margin-bottom: 1.2rem;
    }

    #info-container p {
        font-size: 1rem;
        margin-bottom: 1.6rem;
        line-height: 1.5rem;
    }

    li {
        font-size: 1rem;
        display: flex;
        align-items:unset;
        margin-bottom: 1rem;
        line-height: 1.5rem;
    }

    ul li i img {
        width: 1.5rem;
    }

    input {
        margin-bottom: 1.5rem;
        border: 1px solid var(--Grey);
        padding: 1.2rem;
        font-size: 1rem;
        cursor: pointer;
    }

    button {
        font-size: 0.9rem;
        font-weight: 700;
        padding: 1.25rem;
    }

    .shadow {
        box-shadow: 0 0 0 0;
    }

    /* SUCCESS CARD */

    #success-card {
        width: 100%;
        min-height: 100vh;
        border-radius: 0;
        padding: 1.5rem;
        position: relative;
    }

    #success-card img{
        margin-top: 8rem;
    }

    #success-card h1 {
        line-height: 2.5rem;
    }

    #success-card button {
        width: 87%;
        position: absolute;
        bottom: 2.5rem;
    }
}